#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include "keys_sv.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        mod_tap_idle: mod_tap_idle {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TAP_IDLE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC           &kp Q                     &kp W                  &kp E                     &kp R                       &kp T                                      &mmv MOVE_UP                     &kp Y        &kp U                        &kp I                      &kp O                          &kp P                                &kp SV_A_RING
&kp TAB           &mod_tap_idle LEFT_ALT A  &mod_tap_idle LCTRL S  &mod_tap_idle LEFT_GUI D  &mod_tap_idle LEFT_SHIFT F  &kp G                      &mmv MOVE_LEFT  &mkp MB1        &mmv MOVE_RIGHT  &kp H        &mod_tap_idle RIGHT_SHIFT J  &mod_tap_idle RIGHT_GUI K  &mod_tap_idle RIGHT_CONTROL L  &mod_tap_idle RIGHT_ALT SV_O_UMLAUT  &kp SV_A_UMLAUT
&kp SV_LESS_THAN  &kp Z                     &kp X                  &kp C                     &kp V                       &kp B        &kp K_MUTE                    &mmv MOVE_DOWN                   &kp N        &kp M                        &kp SV_COMMA               &kp SV_DOT                     &kp SV_MINUS                         &kp SV_TILDE
                                                                   &kp LGUI                  &mo 1                       &lt 3 SPACE                                                                 &lt 3 ENTER  &mo 2                        &kp BACKSPACE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans           &kp SV_N1       &kp SV_N2     &kp SV_N3     &kp SV_N4     &kp SV_N5                                &kp UP_ARROW             &kp SV_N6        &kp SV_N7                      &kp SV_N8        &kp SV_N9        &kp SV_N0     &kp SV_PLUS
&trans           &trans          &trans        &trans        &trans        &bt BT_SEL 3                   &kp LEFT  &mkp RCLK     &kp RIGHT  &mkp LCLK        &trans                         &trans           &trans           &trans        &kp PG_UP
&rgb_ug RGB_TOG  &bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &rgb_ug RGB_EFF  &kp C_MUTE              &kp DOWN                 &rgb_ug RGB_EFR  &rgb_ug RGB_COLOR_HSB(0,0,99)  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp SV_COLON  &kp PG_DN
                                               &trans        &trans        &trans                                                            &trans           &trans                         &trans
            >;

            sensor-bindings = <&rgb_encoder>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp SV_EXCL   &kp SV_AT     &kp SV_HASH  &kp SV_DOLLAR  &kp SV_PERCENT                            &mmv MOVE_UP                     &kp SV_AMPERSAND  &kp SV_SLASH  &kp SV_LPAR  &kp SV_RPAR  &kp SV_ASTRK      &kp SV_QUESTION
&trans  &bt BT_CLR    &kp LEFT      &kp DOWN     &kp UP         &kp RIGHT                 &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp SV_MINUS      &kp SV_EQUAL  &kp SV_LBKT  &kp SV_RBKT  &kp SV_BACKSLASH  &kp SV_GRAVE
&trans  &out OUT_USB  &out OUT_BLE  &none        &none          &mkp MB5        &trans                    &mmv MOVE_DOWN                   &kp SV_UNDER      &kp SV_PLUS   &kp SV_LBRC  &kp SV_RBRC  &kp SV_PIPE       &kp SV_COLON
                                    &trans       &trans         &kp SPACE                                                                  &kp RET           &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&studio_unlock  &kp F1      &kp F2  &kp F3       &kp F4   &kp F5                                 &mmv MOVE_UP                     &soft_off    &kp SV_N7  &kp SV_N8  &kp SV_N9  &trans           &kp DEL
&kp LEFT_ALT    &kp F6      &kp F7  &kp F8       &kp F9   &kp F10                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &bootloader  &kp SV_N4  &kp SV_N5  &kp SV_N6  &kp PRINTSCREEN  &kp HOME
&kp LCTRL       &sys_reset  &trans  &bootloader  &kp F11  &kp F12  &kp C_MUTE                    &mmv MOVE_DOWN                   &kp SV_N0    &kp SV_N1  &kp SV_N2  &kp SV_N3  &kp SCROLLLOCK   &kp SV_DLLR
                                    &trans       &trans   &trans                                                                  &trans       &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
